<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Add New</title>
<!--Load bootstrap.css file-->
<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Add New User</h2>
<form action="/post" method="post">
<div class="form-row">
<div class="col-4">
<input type="text" name="textname" class="form-control mb-3" placeholder="Name">
<input type="text" name="nis" class="form-control nis mb-3" placeholder=" Email">
<input type="text" name="kelas" class="form-control kelas mb-3" placeholder="Age">
<input type="text" name="nomer" class="form-control nomer mb-3" placeholder="Adrress">
<input type="text" name="alamat" class="form-control alamat mb-3" placeholder="Phone Number">
<button type="submit" class="btn btn-success">Submit</button>
</div>
</div>
</form>
</div>
</div>
</div>
<!--Load bootstrap.js file-->
<script src="js/bootstrap.js"></script>
</body>
</html>